* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 20px;
    min-height: 0;
}

#window, #workspaces {
    border-radius: 10px;
    background-color: rgba(33, 33, 33, 0.65);
    color: white;
    margin-top: 15px;
	  margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

window#waybar {
    background: transparent;
    color: white;
}

window#waybar.empty #window {
	background: transparent;
}

window#taskbar.empty #window {
	background: transparent;
}

#window {
    font-weight: bold;
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.active {
    color: white;
    border-bottom: 1px solid white;
}

#clock, #pulseaudio, #custom-spotify, #tray {
    border-radius: 10px;
    background-color: rgba(33, 33, 54, 0.65);
    color: white;
    margin-top: 15px;
	  margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    font-weight: bold;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: white;
}

#tray {
}

