

window {
    font-family: Fira Code Medium;
    font-size: 16pt;
    color: #a9b1d6; /* text */
    background-color: #0c0d15;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: #0c0d15;
    animation: 20s ease-in infinite;
    border-radius: 50px; /* Increased border radius for a more rounded look */
}

button:focus {
    background-size: 25%;
	border: 0px;
    background-color: #7aa2f7;

}

button:hover {
    background-color:#7aa2f7;
    color: #7aa2f7;
    background-size: 40%;
    border-radius: 60px;
    border-color: #0c0d15;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), 0.2s ease-in-out, background-color 0.3s ease-in-out; 
	
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./lock.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}

#suspend {
    background-image: image(url("./sleep.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}
#windows {
    background-image: image(url("./windows.png"));
}
